body {
  box-sizing: border-box;
  background-color: rgb(198, 236, 249);
}
.logo {
  width: 80px;
  border-radius: 50%;
}
.nav-link {
  font-size: 1.5rem;
}
.bg-img {
  background-image: url(pelouse.jpg);
  object-fit: cover;
}
h1 {
  padding-top: 2rem;
  font-size: 3.4rem;
  text-decoration: underline;
}
.ball-img {
  width: 80px;
  margin-top: 15px;
  margin-bottom: 20px;
  animation: ballon 6s ease-in-out infinite;
}
@keyframes ballon {
  0% {
    transform: rotate(220deg);
  }
  50% {
    transform: translateX(81vw);
  }
  100% {
    transform: rotate(220deg);
    transform: rotateX(-81vw);
  }
}
.carousel-item > img {
   max-height: 500px;
   object-fit: cover;
}
footer {
  background: rgb(198, 236, 249);
  padding: 1rem;
  padding-bottom: 2rem;
}

h3 {
  font-weight: bolder;
  text-decoration: underline;
}
footer > ul{
  list-style-type: none;
  margin-top: 2rem;
  margin-left: -2rem;
  text-align: center;
}
.footer-logo {
  width: 45px;
}
.copyright {
  list-style-type: none;
}
hr {
  width: 80%;
  margin-left: 10%;

}
.card{
  border-radius: 1.5rem;
}
.card > img {
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
}
#btn-event {
  margin-left: 29%;
}
/*----------------responsive--------------------*/
@media screen and (min-width:768px) {
  .card {
    display:inline-block;
    vertical-align: middle;
  }
  .footer-list > li.mt-2 {
    display: inline;
  }
  .table {
    width: 70%;
    margin-left: 15%;
  }
  #btn-event {
    margin-left: 42%;
  }
}